#Handling the missing DATA in dataset

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("../placement.csv")

print(df.head(5))

   Unnamed: 0 gender  degree_p   degree_t workex  etest_p specialisation  \
0           0      M     58.00   Sci&Tech     No     55.0         Mkt&HR
1           1      M     77.48   Sci&Tech    Yes     86.5        Mkt&Fin
2           2      M     64.00  Comm&Mgmt     No     75.0        Mkt&Fin
3           3      M     52.00   Sci&Tech    NaN     66.0         Mkt&HR
4           4      M     73.30  Comm&Mgmt     No     96.8        Mkt&Fin

   mba_p       salary
0  58.80  270000.0000
1  66.28  200000.0000
2  57.80  250000.0000
3  59.43  288655.4054
4  55.50  425000.0000