Handling the missing DATA in dataset

Methods

1. Removing the missing records

2. Impute (fill)

    i: univariate (handling single column)[Simple Imputer class from scikit learn]

        1. numerical 
            i: mean 
            ii: median
            iii: End of distribution value

        2. categorical
            i: most frequent value
            ii: write missing
            
    ii: multivariate
     
        1. KNN imputer
        2. Iterative imputer (mice algorithm)

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv("../placement.csv")
print(df)

     Unnamed: 0 gender  degree_p   degree_t workex  etest_p specialisation  \
0             0      M     58.00   Sci&Tech     No     55.0         Mkt&HR
1             1      M     77.48   Sci&Tech    Yes     86.5        Mkt&Fin
2             2      M     64.00  Comm&Mgmt     No     75.0        Mkt&Fin
3             3      M     52.00   Sci&Tech    NaN     66.0         Mkt&HR
4             4      M     73.30  Comm&Mgmt     No     96.8        Mkt&Fin
..          ...    ...       ...        ...    ...      ...            ...
210         210      M     77.60  Comm&Mgmt     No     91.0        Mkt&Fin
211         211      M     72.00   Sci&Tech     No     74.0        Mkt&Fin
212         212      M     73.00  Comm&Mgmt    Yes     59.0        Mkt&Fin
213         213      F     58.00  Comm&Mgmt     No      NaN         Mkt&HR
214         214      M     53.00  Comm&Mgmt     No     89.0         Mkt&HR

     mba_p       salary
0    58.80  270000.0000
1    66.28  200000.0000
2    57.80  250000.0000
3    59.43  288655.4054
4    55.50  425000.0000
..     ...          ...
210  74.49  400000.0000
211  53.62  275000.0000
212  69.72  295000.0000
213  60.23  204000.0000
214  60.22  288655.4054

[215 rows x 9 columns]